@import './global.scss';
/* 我的-cell */

.mint-cell-wrapper .mint-cell-title {
    font-size: 12px;
}
// cell-line
.mint-cell-wrapper{
    background-image: none;
}
.mint-cell:last-child {
    background-image: none;
}

// nav-left
.nav .custom-mint-icon-arrowr {
    font-size: 14px;
}
/* input */
.mint-field-core {
    border: 1px solid rgba(151, 151, 151, 1);
    width: pxTorem(220px);
    height: pxTorem(33px);
    padding-left: pxTorem(10px);
    margin-bottom: pxTorem(15px);
}
.register-fixed_content{
    height: 100%;
    padding: 44px 38px;
    overflow: hidden;
    .statement{
        height: 100%;
        overflow: hidden;
        background: #ffffff;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h3{
            text-align: center;
            margin-bottom: 20px;
        }
        .content{
            overflow-y: scroll;
            background: #ffffff;
            flex: 1;
        }
    }
}
