/* 我的-cell */

.mine_kind .mint-cell-wrapper .mint-cell-title {
    font-size: 12px;
    /*no*/
}

.mine_last .mint-cell-wrapper .mint-cell-title {
    font-size: 12px;
    /*no*/
}

/* 个人信息-cell */

.information_kind .mint-cell-wrapper .mint-cell-title {
    font-size: 12px;
    /*no*/
}