/* 我的-cell */

@import './global.scss';
.mine_kind .mint-cell-wrapper .mint-cell-title {
    font-size: 12px;
}

.mine_last .mint-cell-wrapper .mint-cell-title {
    font-size: 12px;
}

/* 个人信息-cell */

.information_kind .mint-cell-wrapper .mint-cell-title {
    font-size: 12px;
}

.mint-field-core {
    border: 1px solid rgba(151, 151, 151, 1);
    width: pxTorem(220px);
    height: pxTorem(33px);
    padding-left: pxTorem(10px);
    margin-bottom: pxTorem(15px);
}