@import './global.scss';
/* 我的-cell */

.mine_kind .mint-cell-wrapper .mint-cell-title {
    font-size: 12px;
}

// nav-left
.nav .custom-mint-icon-arrowr {
    font-size: 14px;
}

/* input */

.mint-field-core {
    border: 1px solid rgba(151, 151, 151, 1);
    width: pxTorem(220px);
    height: pxTorem(33px);
    padding-left: pxTorem(10px);
    margin-bottom: pxTorem(15px);
}

//revenue -ischecked
.mint-navbar .mint-tab-item.is-selected {
    border-bottom: 0;
}