$browser-default-font-size: 37.5px;
$base-size: 37.5;
@function pxTorem($px) {
    //$px为需要转换的字号
    @return $px / $browser-default-font-size * 1rem;
}

@function strip-units($number) {
    @return ($number / ($number * 0 + 1)) / $base-size;
}

/**
 * height: pxTorem(44px);
 * @include remCalc(margin, 10, 20);
 * @include remCalc(margin, 10px, 20px);
 */

@mixin remCalc($property, $values...) {
    $max: length($values); //返回$values列表的长度值
    $remValues: '';
    @for $i from 1 through $max {
        $value: strip-units(nth($values, $i));
        $remValues: #{$remValues + $value}rem;
        @if $i < $max {
            $remValues: #{$remValues + " "};
        }
    }
    #{$property}: $remValues;
}

@mixin content-flex($dir: flex-start, $center: center) {
    display: flex;
    justify-content: $dir;
    align-items: $center;
}

// sigle line hide
@mixin text-ellipsis {
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// multiple line hide
@mixin multi-line-hide($line: 2) {
    display: -webkit-box;
    display: -moz-box;
    overflow: hidden;
    -webkit-line-clamp: $line;
    -moz-line-clamp: $line;
    text-overflow: ellipsis;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
}

// input
%custom-input {
    background: #F4F4F4;
    border-radius:10px;
    height:26px;
}
// global style
.search-page-concept .mint-badge {
    color: #333;
    font-size: 12px;
}
.mint-msgbox-wrapper {
    z-index: 2222!important;
}
.mint-indicator-wrapper {
    z-index: 2224!important;
}
.advert-item .mint-actionsheet {
    z-index: 2220!important;
}

%load-more {
    padding-bottom: 10px;
    text-align: center;
    color: #999;
    span {
        display: inline-block;
        transition: .2s linear;
        vertical-align: middle;
        &.is-rotate {
            transform: rotate(180deg);
        }
    }
}

%custom-btn {
    padding: 12px 8px;
    background: #009EC2;
    color: #fff;
    border-radius: 5px;
}