@import './global.scss';
.trade{
    @include remCalc(padding, 24px, 38px, 0, 38px);
    &-info{
        @include remCalc(margin, 44px, 0, 32px, 0);
        &-item{
            position: relative;
            input{
                display: block;
                width: 100%;
                height:pxTorem(33px);
                @include remCalc(padding, 0, 10px);
                border:1px solid rgba(221,221,221,1);
                margin-bottom: pxTorem(13px);
            }
            .relative{
                padding-right: 100px;
            }
            .is-danger{
                color: rgba(255,149,0,1);
                margin-bottom: pxTorem(13px);
                display: block;
            }
            &-button{
                position: absolute;
                top: 0;
                right: 0;
                width:pxTorem(90px);
                height:pxTorem(33px);
                background: #ccc;
                border:1px solid #ccc;
                font-size: 13px;
                color: #ffffff;
                &.active{
                    background:rgba(255,149,0,1);
                    border:1px solid rgba(255,149,0,1);
                }
            }
        }
    }
    &-password{
        font-size:11px;
        color:rgba(174,174,174,1);
        margin-bottom: pxTorem(12px);
        display: flex;
        justify-content: space-between;
        &-forget{
            color: #3B98FC;
        }
    }
    &-confirm{
        text-align: center;
        &-button{
            width:pxTorem(278px);
            height:pxTorem(44px);
            background:rgba(255,149,0,1);
            border-radius:4px;
            opacity:0.5;
            font-size:18px;
            color: #ffffff;
            &.active{
                opacity:1;
            }
        }
    }
}