@import '../../assets/css/global.scss';

.register {
    width: 100vw;

    &-img {
        margin: pxTorem(50px) auto 0;
        display: block;
    }

    &_info {
        width: pxTorem(260px);
        margin: 0 auto;
        margin-top: pxTorem(45px);

        &_number {
            height: pxTorem(40px);
            width: 100%;
            border: 1px solid #D8DCE6;
            @include content-flex(space-between);
            color: #939393;
            span, i {
                margin-right: 10px;
                margin-left: 10px;
                font-size: 14px;
            }
        }

        &_box {
            @include remCalc(margin, 20px, 0);
            @include content-flex(flex-start, flex-start);
            border-bottom: 1px solid #d8d8d8;
            width: 100%;
            font-size: 14px;
            position: relative;

            &_kind {
                height: pxTorem(40px);
                flex: 1;
                background: transparent;
            }

            span.is-danger {
                position: absolute;
                bottom: -50%;
                color: #ff3860;
                font-size: 12px;
            }

            &.invite {
                position: relative;

                span {
                    color: #CFCFCF;
                    position: absolute;
                    right: 5px;
                }

                input {
                    padding-right: 20px;
                }
            }
        }
    }

    .lost-active {
        background: #ccc;
        color: #fff;
        border-color: #ccc;
    }

    &-checkbox {
        @include content-flex;
        margin-bottom: pxTorem(20px);
        position: relative;
        margin-left: -18px;

        label {
            color: #CFCFCF;
            margin-left: 5px;
        }

        a {
            color: #3B98FC;
            &.go-to-login {
                text-decoration: underline;
                position: absolute;
                right: 0;
            }
        }
    }

    &-bottom {
        &-btn {
            display: block;
            width: 100%;
            font-size: pxTorem(16px);
            background: #ccc;
            color: #fff;

            &.blue_button {
                background: #FF9500;
            }
        }
    }
}